@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner section style stats here*/
.banner-image{
    justify-content: center;
}
.banner-container{
    width: 1440px;
    min-height: 652px;
    background-image: url(/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
    margin-top: 50px;
}
.banner-subcontent1{
    font-weight: 800;
}
.btn-primary{
    background-color: #0D1321;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    margin-top: 100px;
}